/* . game wrapper */

.game-wrapper {
  width: 100rem;
  height: 90vh;
  outline: 4px solid #88888846;
}

.enemiesWrapper {
  display: grid;
  grid-template-columns: repeat(10, 10rem);
  grid-template-rows: auto;
}

.enemy {
  outline: 0.1rem solid black;
  width: 10rem;
  height: 10rem;
  background-color: red;
  animation: spawningAnimation 1s 1;
}

.player {
  position: absolute;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
  background-color: blue;
  transition: 0.1s ease, opacity 1s ease;
  z-index: 5;
}

.czarnojan {
  background: url('../assets/czarnojan.png');
  background-size: cover;
}

.pytel {
  background: url('../assets/pytlowo.png');
  background-size: cover;
}

@keyframes spawningAnimation {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}

/* . shooting cooldown */

.shooting-cooldown-wrapper {
  position: absolute;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s ease;
  gap: 2rem;
}

.shooting-cooldown {
  height: 1rem;
  background-color: white;
}

.cooldown-active {
  animation: cooldownAnimation 1.5s 1 linear;
}

.pytel-cooldown {
  animation: cooldownAnimation 3s 1 linear;
}

@keyframes cooldownAnimation {
  from {
    width: 50rem;
  }
  to {
    width: 0;
  }
}

/* . bullet */

.bullet {
  position: absolute;
  bottom: 10rem;
  width: 0.5rem;
  height: 5rem;
  background-color: rgb(0, 4, 255);
  transition: 0.1s ease;
  z-index: -10;
  animation: bulletTravel 1s 1 linear;
}

.enemy-bullet {
  position: absolute;
  width: 0.5rem;
  height: 5rem;
  background-color: rgb(255, 0, 0);
  transition: 0.1s ease;
  z-index: 10;
  animation: enemyBulletTravel 0.5s 1 linear;
}

@keyframes bulletTravel {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  10% {
    bottom: 10%;
    opacity: 0;
  }
  20% {
    bottom: 20%;
    opacity: 1;
  }
  30% {
    bottom: 30%;
  }
  40% {
    bottom: 40%;
  }
  50% {
    bottom: 50%;
  }
  60% {
    bottom: 60%;
  }
  70% {
    bottom: 70%;
  }
  80% {
    bottom: 80%;
  }
  90% {
    bottom: 90%;
    /* opacity: 0; */
  }
  100% {
    bottom: 100%;
  }
}

@keyframes enemyBulletTravel {
  0% {
    bottom: 100%;
    opacity: 0;
  }
  10% {
    bottom: 90%;
    opacity: 0;
  }
  20% {
    bottom: 80%;
    opacity: 1;
  }
  30% {
    bottom: 70%;
  }
  40% {
    bottom: 60%;
  }
  50% {
    bottom: 50%;
  }
  60% {
    bottom: 40%;
  }
  70% {
    bottom: 30%;
  }
  80% {
    bottom: 20%;
  }
  90% {
    bottom: 10%;
    /* opacity: 0; */
  }
  100% {
    bottom: 0%;
  }
}

/* . health */

.hearts {
  position: absolute;
  top: 0;
}

.hearts img {
  filter: invert(1);
  width: 5rem;
}
