@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('./css/game.css');
@import url('./css/gameStart.css');
@import url('./css/gameFinish.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
  /* display: grid;
  justify-items: center;
  align-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html,
body {
  font-size: 10px;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.overlay {
  display: none;
}

@media screen and (max-width: 1000px) {
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
}
